<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Armor
  </h4>
</section>

<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!$ctrl.loaded" class="md-padding">
  <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<section class="container"> 
  <div class="fade-in full-width" ng-if="$ctrl.loaded">
    <!--Search Box-->
    <div layout="row" layout-padding>
      
      <md-input-container class="md-block md-no-error-spacer md-no-margin" md-no-float flex="100">
        <!-- Use floating placeholder instead of label -->
        <md-icon class="material-icons">search</md-icon>
        <input ng-model="$ctrl.search" type="text" placeholder="Type to Search" ng-change="$ctrl.updateCount();"  ng-model-options="{ debounce: 350 }">
        <!--Clear Search button-->
        <md-button class="md-icon-button clear-search" aria-label="More" ng-if="$ctrl.search.length > 0" ng-click="$ctrl.search = ''; $ctrl.updateCount();">
          <md-icon class="material-icons">
            close
          </md-icon>
        </md-button>
      </md-input-container>

    </div>
    <md-card>
      <md-card-content>
        <section layout="row" class="table-filters" layout-wrap>
          <!--Filter-->
          <md-input-container flex="25" flex-sm="50" flex-xs="50">
            <label>Filter</label>
            <md-select ng-model="$ctrl.filters.equipped" ng-change="$ctrl.updateCount()">
              <md-option ng-value="undefined" selected>
                All Armor
              </md-option>
              <md-option ng-value="true">
                Equipped Armor
              </md-option>
              <md-option ng-value="false">
                Unequipped Armor
              </md-option>
            </md-select>
          </md-input-container>

          <!--Armor Type-->
          <md-input-container flex="25" flex-sm="50" flex-xs="50">
            <label>Armor Type</label>
            <md-select ng-model="$ctrl.filters.armorType" ng-change="$ctrl.updateCount()">
              <md-option value="" selected>
                All Armor Types
              </md-option>
              <md-option value="light">
                Light
              </md-option>
              <md-option value="medium">
                Medium
              </md-option>
              <md-option value="heavy">
                Heavy
              </md-option>
            </md-select>
          </md-input-container>
        </section>

        <!--Armor table-->
        <md-table-container>
          <table md-table ng-model="$ctrl.selected" md-progress="promise">
            <thead md-head md-order="$ctrl.featOrder" md-on-reorder="">
              <tr md-row>
                <th md-column class="checkbox-col"><span>Equipped</span></th>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-order-by="damage"><span>Type</span></th>
                <th md-column md-order-by="damageType"><span>AC</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row 
              ng-repeat="armor in $ctrl.armor | orderBy: $ctrl.featOrder | filter:$ctrl.filters | filter:{name:$ctrl.search} | limitTo: $ctrl.limit: ($ctrl.page - 1) * $ctrl.limit"
              ng-click="$ctrl.showArmorModal($event, armor);">
                <td md-cell ng-click="$event.stopPropagation();">
                  <md-checkbox ng-model="armor.equipped" aria-label="armor equipped" class="md-primary"
                  ng-change="$ctrl.selectArmor(armor);">
                  </md-checkbox>
                </td>
                <td md-cell>{{armor.name}}</td>
                <td md-cell>{{armor.armorType}}</td>
                <td md-cell class="text-capitalize">{{armor.ac}}</td>
              </tr>

              <tr md-row ng-if="$ctrl.count == 0">
                <td md-cell colspan="5">
                  <div class="text-center">No Armor Found</div>
                </td>
              </tr>

            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="$ctrl.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.page" md-total="{{$ctrl.count}}" md-page-select></md-table-pagination>
        <small><em>* - plus Dex Modifier</em></small><br>
        <small><em>** - plus Dex Modifier (max 2)</em></small>
      </md-card-content>
    </md-card>
  </div>
</section>