<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Buttons
  </h4>
</section>

<section ng-cloak class="md-padding">
  <h5>Flat</h5>
  <md-button>Standard</md-button>
  <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
  <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
  <md-button class="md-warn">title4</md-button>

  <div hljs hljs-language="html">
    <md-button>Standard</md-button>
    <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
    <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
    <md-button class="md-warn">title4</md-button></div>

</section>

<md-divider></md-divider>

<section ng-cloak class="md-padding">
  <h5>Raised</h5>
  <md-button class="md-raised">Button</md-button>
  <md-button class="md-raised md-primary">Primary</md-button>
  <md-button class="md-raised md-accent">Accent</md-button>
  <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
  <md-button class="md-raised md-warn">Warn</md-button>
  <div hljs hljs-language="html">
  <md-button class="md-raised">Button</md-button>
  <md-button class="md-raised md-primary">Primary</md-button>
  <md-button class="md-raised md-accent">Accent</md-button>
  <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
  <md-button class="md-raised md-warn">Warn</md-button></div>
</section>

<md-divider></md-divider>

<section ng-cloak class="md-padding">
  <h5>Fab</h5>
  <md-button class="md-fab" aria-label="Eat cake">
    <md-icon class="material-icons">home</md-icon>
  </md-button>
  <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
    <md-icon class="material-icons">add</md-icon>
  </md-button>
  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
    <md-icon class="material-icons">watch_later</md-icon>
  </md-button>
  <md-button class="md-fab md-mini" aria-label="Eat cake">
    <md-icon class="material-icons">comment</md-icon>
  </md-button>
  <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
    <md-icon class="material-icons">build</md-icon>
  </md-button>
  <div hljs hljs-language="html">
    <md-button class="md-fab" aria-label="Eat cake">
      <md-icon class="material-icons">home</md-icon>
    </md-button>
    <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
      <md-icon class="material-icons">add</md-icon>
    </md-button>
    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
      <md-icon class="material-icons">watch_later</md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Eat cake">
      <md-icon class="material-icons">comment</md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
      <md-icon class="material-icons">build</md-icon>
    </md-button></div>
</section>

<md-divider></md-divider>

<section ng-cloak class="md-padding">
  <h5>Links</h5>
  <md-button ng-href="googleUrl" target="_blank">Default Link</md-button>
  <md-button class="md-primary" ng-href="googleUrl" target="_blank">Primary Link</md-button>
  <div hljs hljs-language="html">
    <md-button ng-href="googleUrl" target="_blank">Default Link</md-button>
    <md-button class="md-primary" ng-href="googleUrl" target="_blank">Primary Link</md-button></div>
</section>

<md-divider></md-divider>

<section ng-cloak class="md-padding">
  <h5>Themed</h5>
  <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
  <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
  <md-button class="md-accent">Accent</md-button>
  <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
  <div hljs hljs-language="html">
    <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
    <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
    <md-button class="md-accent">Accent</md-button>
    <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button></div>
</section>