<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    General
  </h4>
</section>
<section class="container" ng-cloak>
  <md-card>
    <md-card-content>
      <form name="myForm">
        <div layout="row" layout-wrap>
          <!--Name-->
          <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
            <label>Character Name</label>
            <input type="text" ng-model="$ctrl.character.name"
            ng-change="$ctrl.updateCharacterName($ctrl.character.name); $ctrl.updateCharacter('', 'name', $ctrl.character.name);">
          </md-input-container>

          <!--Level $ctrl.updateCharacter('', 'name', $ctrl.character.name);-->
          <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
            <label>Level</label>
            <input type="number" ng-model="$ctrl.character.level" ng-model-options="{ debounce: 5000 }" 
            ng-change="$ctrl.updateCharacter('', 'level', $ctrl.character.level);">
          </md-input-container>

          <!--Experience-->
          <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
            <label>Experience</label>
            <input type="number" ng-model="$ctrl.character.experience" ng-model-options="{ debounce: 5000 }"
            ng-change="$ctrl.updateCharacter('', 'experience', $ctrl.character.experience);">
          </md-input-container>          
        </div>


        <div layout="row" layout-wrap>
          <!--Class-->
          <md-input-container flex flex-sm="100" flex-xs="100">
            <label>Class</label>
            <md-select ng-model="$ctrl.character.class" ng-change="$ctrl.updateCharacter('', 'class', $ctrl.character.class);">
              <md-option ng-repeat="class in $ctrl.classes" value="{{class.name}}">
                {{class.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <!--Race-->
          <md-input-container flex flex-sm="100" flex-xs="100">
            <label>Race</label>
            <md-select ng-model="$ctrl.character.race" ng-change="$ctrl.getSubraces($ctrl.gameData.races, $ctrl.character.race); $ctrl.updateCharacter('', 'race', $ctrl.character.race);">
              <md-option ng-repeat="race in $ctrl.races" value="{{race.name}}" ng-click="$ctrl.selectRace(race);">
                {{race.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <!--Subrace-->
          <md-input-container flex flex-sm="100" flex-xs="100">
            <label>Subrace</label>
            <md-select ng-model="$ctrl.character.subrace" ng-change="$ctrl.updateCharacter('', 'subrace', $ctrl.character.subrace);">
              <md-option ng-repeat="subrace in $ctrl.subraces" value="{{subrace.name}}">
                {{subrace.name}}
              </md-option>
            </md-select>
            
            <!--If there are no subraces-->
            <md-tooltip md-direction="bottom" ng-if="$ctrl.character.race && !$ctrl.subraces">
              No {{character.race}} Subraces
            </md-tooltip>

            <!--Tell the user to select a race-->
            <md-tooltip md-direction="bottom" ng-if="!$ctrl.character.race">
              Select a race
            </md-tooltip>
          </md-input-container>          
        </div>

        <div layout="row" layout-wrap>
          <!--Class-->
          <md-input-container flex flex-sm="100" flex-xs="100">
            <label>Alignment</label>
            <md-select ng-model="$ctrl.character.alignment"
            ng-change="$ctrl.updateCharacter('', 'alignment', $ctrl.character.alignment);">
              <md-option ng-repeat="alignment in $ctrl.alignments" value="{{alignment.name}}">
                {{alignment.name}}
              </md-option>
            </md-select>
          </md-input-container>
  
          <!--Background-->
          <md-input-container flex flex-sm="100" flex-xs="100">
            <label>Background</label>
            <md-select ng-model="$ctrl.character.background"
            ng-change="$ctrl.updateCharacter('', 'background', $ctrl.character.background);">
              <md-option ng-repeat="background in $ctrl.backgrounds" value="{{background.name}}">
                {{background.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <!--Adventuring Group-->
          <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
            <label>Adventuring Group</label>
            <input type="text" ng-model="$ctrl.character.adventuringGroup"
            ng-change="$ctrl.updateCharacter('', 'adventuringGroup', $ctrl.character.adventuringGroup);">
          </md-input-container>
        </div>
      </form>
    </md-card-content>
  </md-card>
</section>