<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    General
  </h4>
</section>
<!--<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.loaded" ></md-progress-linear>-->
<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!$ctrl.loaded" class="md-padding">
  <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>
<section class="container" ng-cloak>
  <div class="fade-in full-width" ng-if="$ctrl.loaded">

    <div layout="column" layout-padding>
      <h5 class="no-margin">Basic</h5>
    </div>

    <md-card>
      <md-card-content>
        <form name="basic">
          <div layout="row" layout-wrap>
            <!--Name-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
              <label>Character Name</label>
              <input type="text" ng-model="$ctrl.character.name"
              ng-change="$ctrl.updateCharacterName($ctrl.character.name); $ctrl.updateCharacter('', 'name', $ctrl.character.name);">
            </md-input-container>

            <!--Level $ctrl.updateCharacter('', 'name', $ctrl.character.name);-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
              <label>Level</label>
              <input type="number" ng-model="$ctrl.character.level" ng-model-options="{ debounce: 5000 }" 
              ng-change="$ctrl.updateCharacter('', 'level', $ctrl.character.level);">
            </md-input-container>

            <!--Experience-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
              <label>Experience</label>
              <input type="number" ng-model="$ctrl.character.experience" ng-model-options="{ debounce: 5000 }"
              ng-change="$ctrl.updateCharacter('', 'experience', $ctrl.character.experience);">
            </md-input-container>          
          </div>


          <div layout="row" layout-wrap>
            

            <!--Race-->
            <md-input-container flex flex-sm="100" flex-xs="100">
              <label>Race</label>
              <md-select ng-model="$ctrl.character.race" ng-change="$ctrl.getSubraces($ctrl.gameData.races, $ctrl.character.race); $ctrl.updateCharacter('', 'race', $ctrl.character.race);">
                <md-option ng-repeat="race in $ctrl.races" value="{{race.name}}" ng-click="$ctrl.selectRace(race);">
                  {{race.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <!--Subrace-->
            <md-input-container flex flex-sm="100" flex-xs="100">
              <label>Subrace</label>
              <md-select ng-model="$ctrl.character.subrace" ng-change="$ctrl.updateCharacter('', 'subrace', $ctrl.character.subrace);">
                <md-option ng-repeat="subrace in $ctrl.subraces" value="{{subrace.name}}">
                  {{subrace.name}}
                </md-option>
              </md-select>
              
              <!--If there are no subraces-->
              <md-tooltip md-direction="bottom" ng-if="$ctrl.character.race && !$ctrl.subraces">
                No {{character.race}} Subraces
              </md-tooltip>

              <!--Tell the user to select a race-->
              <md-tooltip md-direction="bottom" ng-if="!$ctrl.character.race">
                Select a race
              </md-tooltip>
            </md-input-container>       

            <!--Adventuring Group-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100" class="md-no-error-spacer">
              <label>Adventuring Group</label>
              <input type="text" ng-model="$ctrl.character.adventuringGroup"
              ng-change="$ctrl.updateCharacter('', 'adventuringGroup', $ctrl.character.adventuringGroup);">
            </md-input-container>   
          </div>

          
        </form>
      </md-card-content>
    </md-card>

    <div layout="column" layout-padding>
      <h5 class="no-margin">Class</h5>
    </div>

    <md-card>
      <md-card-content>
        <form name="myForm">
          <div layout="row" layout-wrap>
            <!--Class-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100">
              <label>Class</label>
              <md-select ng-model="$ctrl.character.class"
               ng-change="$ctrl.updateCharacter('', 'class', $ctrl.character.class); $ctrl.getClass($ctrl.character.class);
               $ctrl.getClassFeatures();">
                <md-option ng-repeat="class in $ctrl.classes" value="{{class.name}}">
                  {{class.name}}
                </md-option>
              </md-select>
            </md-input-container>
            
            <!--Archetype-->
            <md-input-container flex="33" flex-sm="100" flex-xs="100">
              <label>Archetype</label>
              <md-select ng-model="$ctrl.character.archetype"
              ng-change="$ctrl.updateCharacter('', 'archetype', $ctrl.character.archetype);
              $ctrl.getClassFeatures(); ">
                <md-option ng-repeat="archetype in $ctrl.class.specializations" value="{{archetype.title}}">
                  {{archetype.title}}
                </md-option>
              </md-select>
            </md-input-container>   

            <!--Hit Dice-->
            <div flex="33" flex-sm="50" flex-xs="100" class="md-no-error-spacer">
              <label>Hit Dice</label>
              <!--<input ng-model="$ctrl.class.hitDice">-->
              <p>{{$ctrl.character.level}}{{$ctrl.class.hitDice}}</p>
            </div>         
          </div>
        </form>

        <!--Class Features table-->
        <md-table-container>
          <table md-table ng-model="$ctrl.selected" md-progress="promise" class="fixed">
            <thead md-head md-order="$ctrl.order" md-on-reorder="">
              <tr md-row>
                <th md-column md-order-by="title"><span>Name</span></th>
                <th md-column class="text-center" md-order-by="level"><span>Level</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row 
              ng-repeat="feature in $ctrl.character.classFeatures | orderBy: $ctrl.order | limitTo: $ctrl.limit: ($ctrl.page - 1) * $ctrl.limit""
              ng-click="$ctrl.showClassFeatureModal($event, feature);">
                <td md-cell>{{feature.title}}</td>
                <td md-cell class="text-center">{{feature.level | number}}</td>
              </tr>

              <tr md-row md-select-id="name" md-auto-select ng-if="$ctrl.count === 0">
                <td md-cell colspan="2">No Features Found</td>
              </tr>

            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="$ctrl.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.page" md-total="{{$ctrl.count}}" md-page-select></md-table-pagination>
      </md-card-content>
    </md-card>

    <div layout="column" layout-padding>
      <h5 class="no-margin">Proficiency</h5>
    </div>

    <md-card>
      <md-card-content>  

          <div layout="row" layout-wrap class="proficiency-row">
            <div flex flex-sm="50" flex-xs="50" ng-repeat="proficiency in $ctrl.class.proficiencies" ng-if="proficiency.description">
              <p><strong>{{proficiency.title}}</strong></p>
              <p>{{proficiency.description}}</p>
            </div>
          </div>

      </md-card-content>
    </md-card>


    <div layout="column" layout-padding>
      <h5 class="no-margin">Personality</h5>
    </div>

    <md-card>
      <md-card-content>
        <form name="myForm">

          <div layout="row" layout-wrap>
            <!--Class-->
            <md-input-container flex flex-sm="100" flex-xs="100">
              <label>Alignment</label>
              <md-select ng-model="$ctrl.character.alignment"
              ng-change="$ctrl.updateCharacter('', 'alignment', $ctrl.character.alignment);">
                <md-option ng-repeat="alignment in $ctrl.alignments" value="{{alignment.name}}">
                  {{alignment.name}}
                </md-option>
              </md-select>
            </md-input-container>
    
            <!--Background-->
            <md-input-container flex flex-sm="100" flex-xs="100">
              <label>Background</label>
              <md-select ng-model="$ctrl.character.background"
              ng-change="$ctrl.updateCharacter('', 'background', $ctrl.character.background);">
                <md-option ng-repeat="background in $ctrl.backgrounds" value="{{background.name}}">
                  {{background.name}}
                </md-option>
              </md-select>
            </md-input-container>            
          </div>

          <div layout="row" layout-wrap>
            <!--Personality Traits-->
            <md-input-container flex="25" flex-sm="50" flex-xs="100" class="md-no-error-spacer">
              <label>Personality Traits</label>
              <textarea ng-model="$ctrl.character.personalityTraits" rows="2"
              ng-change="$ctrl.updateCharacter('', 'personalityTraits', $ctrl.character.personalityTraits);">
              </textarea>
            </md-input-container>
            <!--Personality Traits-->
            <md-input-container flex="25" flex-sm="50" flex-xs="100" class="md-no-error-spacer">
              <label>Ideals</label>
              <textarea ng-model="$ctrl.character.ideals" rows="2"
              ng-change="$ctrl.updateCharacter('', 'ideals', $ctrl.character.ideals);">
              </textarea>
            </md-input-container>
            <!--Personality Traits-->
            <md-input-container flex="25" flex-sm="50" flex-xs="100" class="md-no-error-spacer">
              <label>Bonds</label>
              <textarea ng-model="$ctrl.character.bonds" rows="2"
              ng-change="$ctrl.updateCharacter('', 'bonds', $ctrl.character.bonds);">
              </textarea>
            </md-input-container>
            <!--Personality Traits-->
            <md-input-container flex="25" flex-sm="50" flex-xs="100" class="md-no-error-spacer">
              <label>Flaws</label>
              <textarea ng-model="$ctrl.character.flaws" rows="2"
              ng-change="$ctrl.updateCharacter('', 'flaws', $ctrl.character.flaws);">
              </textarea>
            </md-input-container>         
          </div>
        </form>
      </md-card-content>
    </md-card>

    
  </div>
</section>