<!--<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Character Info
  </h4>
</section>-->

<div class="md-padding" ng-if="!$ctrl.character">
  <md-progress-circular md-mode="indeterminate" class="md-margin-auto"></md-progress-circular>   
</div>

<md-tabs ng-if="$ctrl.character" md-selected="$ctrl.selectedIndex"> 

  <!--General Tab-->
  <md-tab label="General">
    <md-content class="md-padding">
      <character-general game-data="$ctrl.gameData" character="$ctrl.character"></character-general>
    </md-content>
  </md-tab>

  <!--Skills Tab-->
  <md-tab label="Stats">
    <md-content class="md-padding">
      <character-stats game-data="$ctrl.gameData" character="$ctrl.character"></character-stats>
    </md-content>
  </md-tab>

  <!--Feats Tab-->
  <md-tab label="Feats">
    <md-content class="md-padding">
      <character-feats game-data="$ctrl.gameData" character="$ctrl.character"></character-feats>
    </md-content>
  </md-tab>

  <!--Weapons Tab-->
  <md-tab label="Weapons">
    <md-content class="md-padding">
      <character-weapons game-data="$ctrl.gameData" character="$ctrl.character"></character-weapons>
    </md-content>
  </md-tab>

  <!--Spells Tab-->
  <md-tab label="Spells">
    <md-content class="md-padding">
      <character-spells game-data="$ctrl.gameData" character="$ctrl.character"></character-spells>
    </md-content>
  </md-tab>

  <!--Inventory Tab-->
  <md-tab label="Inventory">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

</md-tabs>