<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Character Info
  </h4>
</section>
<md-tabs>

  <!--General Tab-->
  <md-tab label="General">
    <md-content class="md-padding">
      <character-general game-data="$ctrl.gameData" character="$ctrl.character"></character-general>
    </md-content>
  </md-tab>

  <!--Skills Tab-->
  <md-tab label="Stats">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>



  <!--Feats Tab-->
  <md-tab label="Feats">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

  <!--Combat Tab-->
  <md-tab label="Combat">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

  <!--Weapons Tab-->
  <md-tab label="Weapons">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

  <!--Spells Tab-->
  <md-tab label="Spells">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

  <!--Inventory Tab-->
  <md-tab label="Inventory">
    <md-content class="md-padding">
      <!--<character-general></character-general>-->
    </md-content>
  </md-tab>

</md-tabs>