<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Typography
  </h4>
</section>
<md-divider></md-divider>

<section layout="row" layout-wrap layout-padding>
  <div flex="100">
    <!--Heading 1-->
  <h1>
    H1. Heading 1
  </h1>

  <div hljs hljs-language="html">
    <h1>
      H1. Heading 1
    </h1></div>  

  <!--Heading 2-->
  <h2>
    H2. Heading 2
  </h2>

  <div hljs hljs-language="html">
    <h2>
      H2. Heading 2
    </h2></div>

  <!--Heading 3-->
  <h3>
    H3. Heading 3
  </h3>
  <div hljs hljs-language="html">
    <h3>
      H3. Heading 3
    </h3></div>

  <!--Heading 4-->
  <h4>
    H4. Heading 4 - Headline Text
  </h4>
  <div hljs hljs-language="html">
    <h4>
      H4. Heading 4 - Headline Text
    </h4></div>
  
  <!--Heading 5-->
  <h5>
    H5. Heading 5 - Title Text
  </h5>
  <div hljs hljs-language="html">
    <h5>
      H5. Heading 5 - Title Text
    </h5></div>
  </div>
  <div flex="100">
    <!--Paragraph-->
    <p>
      Regular Paragraph / Body Text
    </p>
    <div hljs hljs-language="html">
      <h2>
        H2. Heading 2
      </h2></div>

    <!--Paragraph Strong-->
    <p>
      <strong>Strong / Bold Paragraph</strong>
    </p>
    <div hljs hljs-language="html">
      <p>
        <strong>Strong / Bold Paragraph</strong>
      </p></div>

    <!--Small-->
    <small>
      Small Text / Caption / Figcaption
    </small>
    <div hljs hljs-language="html">
      <small>
        Small Text / Caption / Figcaption
      </small></div>
  </div>
</section>