<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Characters {{$ctrl.test}}
  </h4>
</section>

<md-button class="md-primary md-raised new-button" ng-click="$ctrl.showNewCharacterModal($event)" ng-disabled="!$ctrl.gameData">New Character</md-button>

<md-card>

  <section class="md-padding" layout="row" layout-wrap layout-padding>
    <md-table-container>
      <table md-table multiple ng-model="$ctrl.selected" md-progress="promise">
        <thead md-head md-order="$ctrl.myOrder" md-on-reorder="">
          <tr md-row>
            <th md-column md-order-by="name"><span>Name</span></th>
            <th md-column md-numeric md-order-by="level"><span>Level</span></th>
            <th md-column md-numeric md-order-by="class"><span>Class</span></th>
            <th md-column md-numeric md-order-by="race"><span>Race</span></th>
            <th md-column><span></span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="character in $ctrl.characters | orderBy: $ctrl.myOrder track by $index">
            <td md-cell>{{character.name}}</td>
            <td md-cell>{{character.level}}</td>
            <td md-cell>{{character.class}}</td>
            <td md-cell>{{character.race}}</td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="Delete Character" ng-click="$ctrl.showConfirmDeleteDialog($event, character, $index);">
                <md-icon class="material-icons table-icon">delete</md-icon>
              </md-button>
            </td>
          </tr>

          <tr md-row md-select="characters" md-select-id="name" md-auto-select ng-if="$ctrl.characters.length === 0">
            <td md-cell colspan="2">No Characters Found</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </section>
</md-card>