input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.file-name {
  position: relative;
  top: -18px;
  margin-left: 16px;
}

.md-no-error-spacer {
  .md-errors-spacer {
    display: none;
  }
}

md-input-container {
  &.md-no-margin {
    margin: 0px;
  }
}

.md-button.md-icon-button.clear-search {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 20px;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
  right: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}