input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.file-name {
  position: relative;
  top: -18px;
  margin-left: 16px;
}

.md-no-error-spacer {
    .md-errors-spacer {
        display: none;
    }
}