header {
  position: fixed;
  width: 100%;
  z-index: 65;
  md-toolbar {
    min-height: 48px;
    height: 48px;
  }
}

.header-menu {
  // height: 64px;
  position: relative;
  right: -8px;
  button {
    height: 48px;
  }
}

.app-bar-photo {
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  margin: 0 8px;
  
}

#main-content {
  height: 100vh;
  background-color: material-color('grey', '200');
}

.main-view {
  display: block;
  margin-left: 320px;
  // transition: all .25s ease;
  margin-top: 48px;
}

.app-bar .md-toolbar-tools {
  transition: all .25s ease;
  // padding-left: 336px;
}

md-toolbar {
  h1 {
    white-space: pre;
    text-overflow: ellipsis;
  }
}

.menu-icon {
  margin-right: 16px;
}

@media (max-width: 1280px) {
  .app-bar .md-toolbar-tools {
    padding-left: 16px;
    .md-icon-button {
      display: inline-block;
    }
  }
  .main-view {
    display: block;
    margin-left: 0px;
  }
}

@media (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}