.modal-lg {
  width: 960px;
}

.modal-md {
  width: 720px;
}

.modal-sm {
  width: 540px;
}

.modal-xs {
  width: 320px;
}

.md-dialog-content {
  ul {
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    background: #F5F5F5;
  }

  li {
    padding: 8px 8px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    font-size: 14px;
    &:last-child {
      border-bottom: none;
    }
  }
  em {
    font-size: 14px;
  }

  p:first-child {
    margin-top: 0px;
  }
  md-list-item._md-no-proxy {
    padding: 0 8px;
    div {
      margin: 8px 0;
    }
  }
}

@media (max-width: 600px) {
  md-dialog .md-dialog-content {
    padding: 12px;
  }
  .modal-lg,
  .modal-md,
  .modal-sm,
  .modal-xs {
    max-width: 100%;
  }
}