.md-sidenav-left {
  padding-top: 48px;
}
.character-select {
  background-color: #EEEEEE;
  md-input-container {
    width: 100%;
  }
}

.sidenav-menu {
  width: 100%;
  padding: 0px;
  list-style: none;
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    span {
      flex: 100%;
      outline: none;
      cursor: pointer;
      position: relative;
    }
  }
}

.sidenav-button {
  display: block;
  width: 100%;
  padding: 16px;
  outline: none;
}

md-sidenav, 
md-sidenav._md-locked-open,
md-sidenav._md-locked-open._md-closed,
md-sidenav._md-locked-open._md-closed.md-sidenav-left,
md-sidenav._md-locked-open._md-closed {
  position: fixed;
}

@media (max-width: 1280px) {
  md-sidenav {
    height: 100vh;
    position: absolute;
    top: -120px;
  }
}