md-table-container {
  width: 100%;
  input {
    max-width: 72px;
  }
}

.table-icon {
  opacity: .54;
}

tr {
  outline: none;
}

.checkbox-col {
  width: 56px;
}

table.md-table {
    // table-layout: fixed;
    th {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
}

table.fixed {
  table-layout: fixed;
}

.table-filters {
  margin: -16px -16px 0 -16px;
  padding: 16px 16px 0 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d8d8d8;
}

table.md-table td.md-cell.md-numeric.text-center,
table.md-table th.md-column.md-numeric.text-center {
   text-align: center;
   input {
     text-align: center;
   }
 }

@media (max-width: 960px) {
  .table-filters {
    margin: -16px -8px 0 -8px;
  }
  
  table.md-table:not(.md-row-select) td.md-cell:first-child,
  table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 8px;
  }

  table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
  table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 16px 0 0;
  }
}

@media (max-width: 600px) {
  md-card md-card-content {
    padding: 8px;
  }

  table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
      padding: 0 8px 0 0;
  }

  table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
  table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 8px 0 0;
  }

  .md-table-pagination {
    padding: 0 12px;
  }
}