h1 {
  @extend .md-display-3;
}

h2 {
  @extend .md-display-2;
}

h3 {
  @extend .md-display-1;
}

h4 {
  @extend .md-headline;
}

h5 {
  @extend .md-title;
}

p {
  @extend .md-body-1;
  font-size: 16px;
  strong {
    @extend .md-body-2;
  }
}

small, caption, figcaption {
  @extend .md-caption;
}

a {
  color: material-color('indigo', '700');
}

.page-header {
  background: material-color('indigo', '500');
  color: #fff;
  padding: 12px 24px;
  h4 {
    margin: 0;
    font-size: 20px;
    padding: 0px;
  }
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-capitalize {
  text-transform: capitalize;
}