<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Sign In
  </h4>
</section>

<section class="md-padding" layout="row" layout-align="center center" layout-wrap>
  <div flex="33" flex-md="50" flex-sm="100" flex-xs="100">    
    <md-card class="md-padding">
      <div ng-if="$ctrl.user">
        <p>
          You are currently signed in as           
          <strong ng-if="$ctrl.user.displayName">{{$ctrl.user.displayName}}</strong>
          <strong ng-if="!$ctrl.user.displayName">{{$ctrl.user.email}}</strong>
        </p>
      </div>
      <form name="signInForm" layout="column" ng-submit="$ctrl.signIn($ctrl.email, $ctrl.password)">
        <md-input-container class="md-no-error-spacer">
          <label>Email</label>
          <input ng-model="$ctrl.email" type="email">
        </md-input-container>

        <md-input-container class="md-no-error-spacer">
          <label>Password</label>
          <input ng-model="$ctrl.password" type="password">
        </md-input-container>
        <div layout="row">
          <md-button flex="50" class="md-raised" ui-sref="sign-up">Sign Up</md-button>
          <input flex="50" type="submit" class="md-button md-raised md-primary" value="Sign In" ng-disabled="!$ctrl.email || !$ctrl.password">
        </div>
      </form>
    </md-card>
    <md-progress-circular md-mode="indeterminate" class="md-margin-auto" ng-if="$ctrl.signingIn"></md-progress-circular>        
  </div>
</section>