<section layout="row" layout-wrap layout-padding class="page-header">
  <h4>
    Inventory {{$ctrl.loaded}}
  </h4>
</section>

<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!$ctrl.loaded" class="md-padding">
  <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<section class="container"> 
  <div class="fade-in full-width" ng-if="$ctrl.loaded">
    <!--Search Box-->
    <div layout="row" layout-padding>
      
      <md-input-container class="md-block md-no-error-spacer md-no-margin" md-no-float flex="100">
        <!-- Use floating placeholder instead of label -->
        <md-icon class="material-icons">search</md-icon>
        <input ng-model="$ctrl.search" type="text" placeholder="Type to Search" ng-change="$ctrl.updateCount();"  ng-model-options="{ debounce: 350 }">
        <!--Clear Search button-->
        <md-button class="md-icon-button clear-search" aria-label="More" ng-if="$ctrl.search.length > 0" ng-click="$ctrl.search = ''; $ctrl.updateCount();">
          <md-icon class="material-icons">
            close
          </md-icon>
        </md-button>
      </md-input-container>

    </div>
    <md-card>
      <md-card-content>
        <section layout="row" class="table-filters" layout-wrap>
          <!--Filter-->
          <md-button class="md-raised add-item" ng-click="$ctrl.showInventoryModal();">
            Add Item
          </md-button>
        </section>

        <!--Feats table-->
        <md-table-container>
          <table md-table ng-model="$ctrl.selected" md-progress="promise">
            <thead md-head md-order="$ctrl.itemOrder" md-on-reorder="">
              <tr md-row>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-order-by="school"><span>Cost</span></th>
                <th md-column md-order-by="level"><span>Weight</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row 
              ng-repeat="item in $ctrl.character.inventory | orderBy: $ctrl.itemOrder | filter:{name:$ctrl.search} | limitTo: $ctrl.limit: ($ctrl.page - 1) * $ctrl.limit track by $index"
              ng-click="$ctrl.showInventoryModal($event, item);">
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{item.cost}}</td>
                <td md-cell>{{item.weight}}</td>
              </tr>

              <tr md-row ng-if="$ctrl.count == 0 || !$ctrl.character.inventory">
                <td md-cell colspan="5">
                  <div class="text-center">No Inventory Found</div>
                </td>
              </tr>

            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="$ctrl.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.page" md-total="{{$ctrl.count}}" md-page-select></md-table-pagination>

      </md-card-content>
    </md-card>
  </div>
</section>